<div class="row" style="margin-top: 50px">
	<div class="col-md-6 col-md-offset-3">
		<form role="form">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">New observation</h3>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="observationDate">Observation date:</label>
						<input type="date" class="form-control" id="observationDate" placeholder="Enter current date">
					</div>
					<div class="form-group">
						<label for="password">Weight:</label>
						<input type="text" class="form-control" id="weight" placeholder="Enter observed weight" autofocus="autofocus">
					</div>
					<div class="btn-toolbar">
						<button id="cancelButton" type="button" class="btn btn-default pull-right">Cancel</button>
						<button id="saveButton" type="button" class="btn btn-primary pull-right">Save</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
